#home {
  padding-top: 100px;
  padding-bottom: 10px;
}

.intro {
  margin-bottom: 300px;
}
  
.animation {
  background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #ff9100 100%);
  overflow: hidden;
}
  
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  left: 0;
  background: #015871;
}
  
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
  
.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
  
.wave:nth-of-type(3) {
  top: -175px;
  animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.3) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
  
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
  
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
  
.img-hover:hover {
  filter: opacity(70%);
}
  
.icon {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-left:10px;
}
  
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
  
.delay-short {
  opacity: 0;
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-fill-mode: forwards;
}
  
.delay-med {
  opacity: 0;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.about-section {
  background-color: #015871;
  width: 100%;
  left: 0;
  margin-top: 25px;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 40px;
  padding-bottom: 70px;
}

.rounded-corners {
  border-radius: 30px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

b {
  font-weight: bold;
  color: #ff9100;
}